<div class="aside" tabindex="-1" role="dialog" hm-swipe-left="$hide()">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header text-center">
                <h4 class="text-center"><strong>Categories</strong></h4>
            </div>
            <div class="aside-body">
                <ul class="category-list" ng-click="$hide()">
                    <categorytree tree='tree' current='currentCategory'/>
                </ul>
            </div>
        </div>
    </div>
</div>