<section class="container category-view" style="margin-top:-15px;">
    <nav class="nav nav-cat-search container">
        <ul>
            <!--- TODO would like to see the toggle in scope and stay open if opened while navigation through categories and products until user decides to close aside nav --->
            <li class="text-nav">
                <span class="text-primary" ng-bind-html="currentCategory.Name || 'All Categories'"></span>
                <span class="text-primary" ng-show="!currentCategory">All Categories</span>
            </li>
        </ul>
    </nav>


        <div class="cat-body">
            <div class="category-product product-navigation" ng-show="currentCategory">
                <loadingindicator ng-show="categoryLoadingIndicator" title="Please wait while we fetch all categories" />
                <h3 class="text-primary" ng-show="currentCategory.SubCategories.length && currentCategory.InteropID">Categories</h3>
                <nav class="nav 451_lbl_subcatlist">
                    <ul>
                        <li class="nav-header well col-lg-3 col-md-4 col-sm-6 col-xs-12 productGrid" ng-class="{ 'category-view-aside': showMega }" ng-repeat="c in currentCategory.SubCategories">
                            <a class="cat-link" ng-href="#/catalog/{{c.InteropID}}">
                                <figure ng-show="c.Image.URL" class="cat-image">
                                    <img ng-src="{{c.Image.URL}}"/>
                                </figure>
                                <div class="empty" ng-show="!c.Image.URL">
                                    <span class="fa empty"><i class="fa fa-camera"></i></span>
                                </div>
                                <h5><span ng-bind-html="c.Name"></span></h5>
                                <figcaption class="category-description" ng-bind-html="trusted(c.Description)"></figcaption>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                    <button type="button" class="btn btn-danger" ng-model="predicate" ng-options="filter.value as filter.text for filter in filterDropdown" bs-select></button>
                    <!--<li><a ng-click="predicate = 'Price'">Price Low to High</a></li>-->
                    <!--<li><a ng-click="predicate = '-Price'">Price High to Low</a></li>-->
                    <!--<li><button type="button" ng-model="predicate" class="btn btn-danger" ng-options="filter.text as filter.value for filter in filterDropdown" bs-select>Filter</button></li>-->
            </div>
            <div id="451_lst_prod" class="product-navigation" ng-if="currentCategory.InteropID">
                <loadingindicator ng-show="productLoadingIndicator" title="Please wait while we fetch all products"/>
                <nav class="nav">
                    <ul>
                        <li style="min-height:0;" class="nav-header productList" ng-repeat="product in products | orderBy:predicate">
                            <shortproductview p="product" user="user" />
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

</section>