<section class="container home-view">
    <div class="home-body" style="height:100%; background-color:#fff;">
        <div class="row">
            <div class="container">
                <figure>
                    <img width="100%" src="https://shop.workflowone.com/Content/Stores/mickeythompsontires/Assets/hero-image-2.jpg"/>
                </figure>
            </div>
        </div>
        <div class="row" style="background-color:#2d2d2d; padding:15px 0;">
            <div class="col-sm-6">
                <a href="catalog/01-07058817-Shirts">
                    <figure>
                        <img width="100%" src="https://shop.workflowone.com/Content/Stores/mickeythompsontires/Assets/highlight-image-1_2.jpg"/>
                    </figure>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="catalog/01-07058817-Jackets">
                    <figure>
                        <img width="100%" src="https://shop.workflowone.com/Content/Stores/mickeythompsontires/Assets/highlight-image-2_1.jpg"/>
                    </figure>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="catalog/01-07058817-Hats">
                    <figure>
                        <img width="100%" src="https://shop.workflowone.com/Content/Stores/mickeythompsontires/Assets/highlight-image-3_1.jpg"/>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>